* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: black;
}

main {
  width: 100%;
  height: 800px;
  top: 100px;
  position: relative;
}

.section-a {
  width: 70%;
  position: absolute;
  top: 0;
  left: 25%;
  display: inline-block;
}

.tags {
  writing-mode: vertical-rl;
  list-style-type: none;
}

.tag {
  width: 150px;
  height: 800px;
  position: relative;
}

.tag:hover {
  width: 700px;
  color: red;
}

.image {
  width: 100%;
  height: 100%;
  background-size: 700px 800px;
  background-position: center center;
}

.title {
  font-size: 40px;
  color: white;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
}

.tag:hover .title {
  display: none;
}

.title2 {
  display: none;
}

.tag:hover .title2 {
  font-size: 60px;
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 10px;
  writing-mode: horizontal-tb;
}

#image1 {
  background-image: url(../images/kimetsu.jpg);
}
#image2 {
  background-image: url(../images/onepiece.jpg);
}
#image3 {
  background-image: url(../images/rezero.jpg);
}
#image4 {
  background-image: url(../images/sao.jpg);
}
#image5 {
  background-image: url(../images/anime.jpg);
}

.section-b .bg-words {
  width: 500px;
  height: 800px;
  font-size: 100px;
  color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 150px;
  right: 100px;
  writing-mode: horizontal-tb;
  z-index: -1;
}

.anime-title {
  font-size: 60px;
  color: white;
  text-align: center;
  margin: 30px auto;
}

.key-visual {
  width: 700px;
  height: 800px;
  margin: 0 auto;
}

.subject {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 20px auto;
}

.content {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p.content {
  font-size: 20px;
}

h2.content {
  font-size: 30px;
}

.characters {
  text-align: center;
  margin: 30px auto;
}

.character {
  margin: 20px;
}

.kimetsu-chara {
  width: 240px;
  height: 340px;
}
.onepiece-charas {
  width: 1000px;
  height: 600px;
}
.rezero-chara {
  width: 360px;
  height: 300px;
}
.sao-chara {
  width: 350px;
  height: 250px;
}

.brandstamp {
  color: white;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  padding-top: 250px;
}

.chevron-down {
  text-align: center;
  padding: 220px;
}

.fas {
  margin: auto;
  font-size: 50px;
  color: white;
}
